.full-height {
    height: auto
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.outer-container {
    padding-left: 5px;
    padding-right: 5px;
}

body {
    position: relative;
}

header {
    margin-bottom: 5px;
    position: sticky;
    top: 0px;

    z-index: 15;
}

h1 {
    font-size: 2rem;
}

p {
    margin: .5rem 0;
}

.form-group {
    margin-bottom: .5rem;
}

.location-current {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: aliceblue;
}

.day {
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid lightgray;
}
.location-name-btn {
    flex: 12 !important;
    border-color: lightgray;
}
.remove-location-btn {
    flex: 1 !important;
    background-color: lightgray;
    border-color: lightgray;
}

.location-name-btn h4 {
    margin: 0;
    font-size: 20px;
}

#search-error-display {
    text-align: center;
    padding-bottom: .5rem;
    font-weight: bold;
    color: red;
    font-size: large;
}

.uv-low, .uv-mod, .uv-high, .uv-vhigh, .uv-extr {
    border: 1px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.uv-low {
    background-color: #279400;
}
.uv-mod {
    background-color: #F7E400;
}
.uv-high {
    background-color: #F85900;
}
.uv-vhigh {
    background-color: #D8001C;
}
.uv-extr {
    background-color: #6B48C7;
}

.uv-low-msg {
    color: #279400;
}
.uv-mod-msg {
    color: #F7E400;
}
.uv-high-msg {
    color: #F85900;
}
.uv-vhigh-msg {
    color: #D8001C;
}
.uv-extr-msg {
    color: #6B48C7;
}

.container-for-map {
    position: relative;
    height: 225px;
    width: 100%;
}

#location-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}