.full-height {
    height: auto
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.outer-container {
    padding-left: 5px;
    padding-right: 5px;
}

.location-current {
    border: 1px solid lightgray;
    border-radius: 10px;
}

.day {
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid lightgray;
}