.full-height {
    height: auto
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.outer-container {
    padding-left: 5px;
    padding-right: 5px;
}

body {
    position: relative;
}

header {
    margin-bottom: 5px;
    position: sticky;
    top: 0px;

    z-index: 15;
}

h1 {
    font-size: 2.2rem;
}

p {
    margin: .5rem 0;
}

.form-group {
    margin-bottom: .5rem;
}

.location-current {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: aliceblue;
}

.day {
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid lightgray;
}
.location-name-btn {
    flex: 12 !important;
    border-color: lightgray;
}
.remove-location-btn {
    flex: 1 !important;
    background-color: lightgray;
    border-color: lightgray;
}

.location-name-btn h4 {
    margin: 0;
    font-size: 20px;
}